<template name="afficherMot2">
    <div class="heart{{vies}}">
      <div id="3" class="vies" >{{vies}}</div>
    </div>
    <div class="reponsesMotsGrid">
      {{#each mot in listeMots}}
        {{#if mot.motErrone}}
          <div class="reponsesMots" style="filter:opacity(100%); background-color: red;"  id="{{mot.mot}}">{{mot.mot}}</div>
        {{else}}
          <div class="reponsesMots" style="filter:opacity(100%);" id="{{mot.mot}}">{{mot.mot}}</div>
        {{/if}}

      {{/each}} 
    </div>
    <button class="cacher3Mots">Révéler 3 fausses réponses</button>
      
    <button class="confirmer">Confirmer</button>
</template>  