/* ------------
/* 1. TYPOGRAPHIE
/* ------------*/ 

/* Regular */
@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditaregular-webfont.woff2') format('woff2'),
       url('/fonts/gorditaregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Regular Italic */
@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditaregularitalic-webfont.woff2') format('woff2'),
       url('/fonts/gorditaregularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}

/* Bold */
@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditabold-webfont.woff2') format('woff2'),
       url('/fonts/gorditabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

/* Bold Italic */
@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditabolditalic-webfont.woff2') format('woff2'),
       url('/fonts/gorditabolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* ----------
/* 2. NAVIGATION
/* ---------- */


.globalHeader {
  background: #fff;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  display: inline-flex;

  position: fixed;
  top: 0;
  left: 0;
}
.appNameContainer a {
  color: #000;
  text-decoration: none;

}

.appNameContainer {
  margin: 0 15px 0 15px;
}

.mainMenu {
  list-style-type: none;
  padding-left: 0;
  position: relative;

}

.mainMenu li {
  display: inline;
}

.mainMenu li:not(:first-child) {
  padding-left: 15px;
}

.mainMenu li a {
  color: #000;
  text-decoration: underline; 
}


/* ----------
/* 3. UTILITAIRES
/* ---------- */

/* 3.1 PAGE D'ACCUEIL & LOGIN/REGISTER (Utilisateurs déconnectés) */

.homeMainContent {
  background-image: url(/images/globalBackground.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.homeContainer {
  background: #fff;
  max-width: 50%;
  border-radius: 20px;
  padding: 30px 35px 30px 35px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

/* 3.2 STYLES DES FORMULAIRES */

.loginInput {
  width: auto;
  height: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Gordita', sans-serif;
}

.loginInput::placeholder {
  color: #000 !important;
}

.forgotPassword a {
  color: #000;

}

.noAccount p {
  color: gray;
  font-size: 14px;
}

.changePassword {
  text-align: center;
}


/* 3.3 PAGES SPÉCIALES (404 et déconnexion) */

/* Styles globaux pour ces pages */
.notFoundContainer, .logoutContainer, .loadingContainer, .redirectContainer {
  color: #fff;
  width: 50%;
  text-align: center;
}

.notFoundContainer h1, .logoutContainer h1, .loadingContainer h1, .redirectContainer h1 {
  font-size: 60px;  
}

.appNameNotFoundContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 15px 15px 0;
}

.appNameNotFoundContainer h1 {
  margin-bottom: 0;
  color: #fff;
}

/* Page déconnexion réussie */
.logoutContent {
  background: radial-gradient(circle at center, #036016 0, #3bb273 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Page 404 */
.notFoundMainContent {
  background: radial-gradient(circle at center, #5c2751 0, #ba00a8 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* En cours de redirection */
.redirectContent {
  background: radial-gradient(circle at center, #0022cc 0, #4d9de0 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Chargement en cours */
.loadingContent {
  background: radial-gradient(circle at center, #f18701 0, #ffc43d 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Boutons */

.buttonContainer {
  margin: 15px 0px;
}
.globalBoutonBlack {
  color: #fff;
  background: #000;
  border: 2px solid #000;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out
}

.globalBoutonBlack:hover {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.8);
}
.globalBoutonWhite {
  border: 2px solid #000;
  color: #000;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out
}

.globalBoutonWhite:hover {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.1);
}

/* ----------
/* 4. STYLE GLOBAL POUR LES PAGES
/* ---------- */

/* Dimension générale d'une page */
.mainContainer {
  width: calc(100%-30px);
  margin: 120px 15px 0px;
  min-height: 100vh;
}

/* Pour enlever la décoration des liens */
.noStyle {
  text-decoration: none;
color: #000;
}

/* Imposer la police */
body {
  margin:0;
  font-family: 'Gordita';
}

/* ----------
/* 5. PAGE PLAY 
/* ---------- */

.games a:not(:first-child) {
  margin-left: 20px;
}

.game {
  width: 20%;
  border-radius: 20px;
  border: 0.5px solid #010101;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 0 0 10px 0px;
  transition: 0.3s ease-in-out;
}

.game:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

.game img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.game h2, p {
  padding: 0 10px 0 10px;
}

.game h2 {
  margin: 10px 0 10px 0;
}

/* ----------
/* 5. AUTRES
/* ---------- */

.motAFaireDeviner{
  margin: 5px;
  font-size: larger;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  margin-bottom: 10px;  
}

.aideImage{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.confirmer{
  position: absolute;
  right: 0%;
  bottom: 10%;
  margin-right: 10%;
  border: 2px solid #000;
  color: #000;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out
}

.confirmer:hover {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.1);
}

.aideImageFlex{
  display: grid;
  grid-template-rows: 150px 150px 150px;
  grid-template-columns: 150px 150px 150px;
  gap: 10px;
  justify-content: left;
  margin-left: 50px;
  align-items: center;
}

.reponsesMotsGrid{
  display: grid;
  gap: 40px;
  justify-content: left;
  grid-template-columns: auto  auto auto;
  margin-left: 50px;
  align-items: center;
}

.reponsesMots{
  background-color: lightblue;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.heart3 {
  display:flex;
  width: 150px; 
  aspect-ratio: 1;
  border-image: radial-gradient(rgb(5, 90, 37) 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 10%;
  margin-top: 5px;
}

.heart2 {
  display:flex;
  width: 150px; 
  aspect-ratio: 1;
  border-image: radial-gradient(rgb(143, 168, 18) 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 10%;
  margin-top: 5px;
}

.heart1 {
  display:flex;
  width: 150px; 
  aspect-ratio: 1;
  border-image: radial-gradient(rgb(221, 41, 9) 69%,#0000 70%) 84.5% fill/100%;
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 10%;
  margin-top: 5px;
}

.vies{
  font-size: 80px;
  position: relative;
  bottom: 10%;
  color: wheat;
}

.scorePong {
  width: 20%;
  display: inline-block;
  padding: 0 0 10px 0px;
  position:absolute;
  top:0;
  right:0;
  font-family: Gordi;
}