/* BEGIN Importation police */
@font-face {
  font-family: 'Gordita';
  font-weight: 300;
  src: url(/fonts/GorditaLight.otf) format(otf);
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  font-weight: 300;
  src: url(/fonts/GorditaLightItalic.otf) format(otf);
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  font-weight: 700;
  src: url(/fonts/GorditaBold.otf) format(otf);
  font-display: swap;
}

@font-face {
  font-family: 'Gordita';
  font-weight: 700;
  src: url(/fonts/GorditaBoldItalic.otf) format(otf);
  font-display: swap;
}

/* END Importation police */

/* BEGIN Style de la navigation */

.globalHeader {
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  display: inline-flex;
}
.appNameContainer h1 {
  font-weight: 700;
  font-size: 30px;
}

.appNameContainer {
  margin: 0 15px 0 15px;
}

/* BEGIN Design Homepage */
.homeMainContent {
  background-image: url(/globalAssets/globalBackground.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.homeContainer {
  background: #fff;
  width: 50%;
  border-radius: 20px;
  padding: 20px 25px 20px 25px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

/* BEGIN GLOBAL STYLES */

.buttonContainer {
  margin: 15px 0px;
}
.globalBoutonBlack {
  color: #fff;
  background: #000;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out
}

.globalBoutonBlack:hover {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.8);
}

body {
  margin:0;
  font-family: 'Gordita';
}

.aideImage{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  border: 1px black solid;
}

.aideImageFlex{
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.reponsesMots{
  border: 1px black solid;
  background-color: lightblue;
  border-radius: 2px;
  width: 100px;
  text-align: center;
}