/* BEGIN Importation police */

@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditaregular-webfont.woff2') format('woff2'),
       url('/fonts/gorditaregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditaregularitalic-webfont.woff2') format('woff2'),
       url('/fonts/gorditaregularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;

}




@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditabold-webfont.woff2') format('woff2'),
       url('/fonts/gorditabold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}




@font-face {
  font-family: 'Gordita';
  src: url('/fonts/gorditabolditalic-webfont.woff2') format('woff2'),
       url('/fonts/gorditabolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

/* END Importation police */

/* BEGIN Style de la navigation */

.globalHeader {
  background: #fff;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  display: inline-flex;

  position: fixed;
  top: 0;
  left: 0;
}
.appNameContainer a {
  color: #000;
  text-decoration: none;

}

.appNameContainer {
  margin: 0 15px 0 15px;
}

/* BEGIN Design Homepage */
.homeMainContent {
  background-image: url(/images/globalBackground.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.homeContainer {
  background: #fff;
  max-width: 50%;
  border-radius: 20px;
  padding: 30px 35px 30px 35px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}

.logoutContent {
  background: radial-gradient(circle at center, #036016 0, #3bb273 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.notFoundMainContent {
  background: radial-gradient(circle at center, #5c2751 0, #ba00a8 100%);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.notFoundContainer, .logoutContainer {
  color: #fff;
  width: 50%;
  text-align: center;
}

.notFoundContainer h1, .logoutContainer h1 {
  font-size: 60px;  
}

.appNameNotFoundContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0px 15px 15px 0;
}

.appNameNotFoundContainer h1 {
  margin-bottom: 0;
  color: #fff;
}

/* BEGIN GLOBAL STYLES */

.buttonContainer {
  margin: 15px 0px;
}
.globalBoutonBlack {
  color: #fff;
  background: #000;
  border: 2px solid #000;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out
}

.globalBoutonBlack:hover {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.8);
}

.globalBoutonWhite {
  border: 2px solid #000;
  color: #000;
  padding: 15px 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease-in-out
}

.globalBoutonWhite:hover {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.1);
}

.mainContainer {
  width: calc(100%-30px);
  margin: 120px 15px 0px;
  height: 200vh;
}

.games a:not(:first-child) {
  margin-left: 20px;
}

.game {
  width: 20%;
  border-radius: 20px;
  border: 0.5px solid #010101;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 0 0 10px 0px;
  transition: 0.3s ease-in-out;
}

.game:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

.noStyle {
  text-decoration: none;
color: #000;
}
.game img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.game h2, p {
  padding: 0 10px 0 10px;
}

.game h2 {
  margin: 10px 0 10px 0;
}

body {
  margin:0;
  font-family: 'Gordita';
}

.aideImage{
  height: 200px;
  width: 200px;
  border-radius: 5px;
  margin: 5px;
  border: 1px black solid;
}

.aideImageFlex{
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.reponsesMots{
  border: 1px black solid;
  background-color: lightblue;
  border-radius: 2px;
  width: 100px;
  text-align: center;
}

/* LOGIN STYLES */

.loginInput {
  width: auto;
  height: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: 'Gordita', sans-serif;
}

.loginInput::placeholder {
  color: #000 !important;
}

.forgotPassword a {
  color: #000;

}

.noAccount p {
  color: gray;
  font-size: 14px;
}

.scorePong {
  width: 20%;
  display: inline-block;
  padding: 0 0 10px 0px;
  position:absolute;
  top:0;
  right:0;
  font-family: Gordi;
}