<template name="registerForm">
    <h2>Inscription</h2>
    <form class="registerForm">
        <input class="loginInput loginEmail" type="email" name="email" placeholder="Ton adresse mail" required><br />
        <input class="loginInput loginUsername" type="username" name="username" placeholder="Ton pseudo" required><br />
        <input class="loginInput loginPassword" type="password" name="password" placeholder="Ton mot de passe" required><br >
        <p><input class="globalBoutonBlack" type="submit" value="C'est parti!"></p>
    </form>
</template>