<template name="jeuPong">
    <div class="homeMainContent">
        <div class="homeContainer">
            <a class="globalBoutonBlack" href="{{urlFor 'newGame'}}">
                    <!-- <img src="/images/pong.jpg" alt=""> -->
                    Nouvelle partie
            </a>
            <!-- <div>
                Score : {{myScorePong}}
            </div> -->
            <div class="separator50"></div>
            <a class="globalBoutonWhite" href="{{urlFor 'play'}}">
                    <!-- <img src="/images/pong.jpg" alt=""> -->
                    Retour
            </a>
        </div>
    </div>
</template>